body {
  font-family: 'Georgia', serif;
  font-variant-ligatures: common-ligatures;
  font-size: 16vmin;
  color: white;
  background-color: black;
  overflow: hidden;
  margin-top: -7%;
}

sup {
    font-size: 13vmin;
}

h2 {
    font-size: 1rem;
    font-weight: 200;
}

.credit{
    z-index: 100;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 15px;
}

.text{
    
    padding: 0;
    position: absolute;
    left: 5;
    top: 5;
    display: none;
}

@media (min-width: 70%){
    .text {
        display: flex;
        flex-direction: row;
    }
    main {
        flex-basis: 70%;
        
    }
}

::selection {
  color: deeppink;
}
::-moz-selection {
  color: deeppink;
}
